body {
  background-color: #fff9ec;
  width: 100%;
  height: 100%;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

p,
h3 {
  padding: 5px 10px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  width: auto;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#role {
  margin: -20px 0px 0px 20px;
  padding: 0px;
  border-radius: none;
  font-family: "Amatic SC", serif;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  color: #fff9ec;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h5 {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
}

h6 {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
  padding: 0px 5px;
  font-size: 14px;
}

li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.title {
  margin: 100px auto 0px auto;
  font-family: "Amatic SC", serif;
  font-weight: 800;
  font-size: 40px;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: black;
  height: 55px;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a {
  float: left;
  display: inline;
  color: #c5d86d;
  text-align: bottom;
  text-decoration: none;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px 10px;
}

/*Add media query for mobile. */
@media (max-width: 480px) {
  .navbar a {
    font-size: 14px;
    padding: 5px;
    margin: auto;
  }
}

.navbar a:hover {
  height: 20px;
  margin-top: 5px;
  width: auto;
  color: #fff9ec;
  border-radius: 5px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #1b998b;
  text-underline-offset: 5px;
}

/*Add media query for mobile. */
@media (max-width: 480px) {
  .navbar a:hover {
    font-size: 12px;
    padding: 5px 5px;
    margin: 0;
    height: 15px;
  }
}

.callout {
  position: relative;
  background-color: #fff9ec;
  border-radius: 5px;
  border: 5px solid #1b998b;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 auto 20px auto;
  width: 300px;
  color: #333;
}

.callout::after {
  content: "";
  position: absolute;
  bottom: -105px;
  /* Position the tail below the callout */
  left: 60px;
  border-width: 55px 15px 50px 10px;
  border-style: solid;
  border-color: #1b998b transparent transparent transparent;
}

/*this is the start of the About Me section with the profile pic, text etc*/
/*This is the container for the content content and profile pic divs*/
.kd-container {
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  margin: 25px 10px 0px 10px;
  width: 90vw;
  height: auto;
  margin: 0px;
}
.profile-photo-frame-1 {
  border-radius: 5px;
  background: linear-gradient(45deg, #c5d86d 20%, #1b998b 50%, #c5d86d 60%);
  background-size: 300%;
  background-position-x: 200%;
  animation: shimmer 4s infinite linear;
  padding: 5px;
  margin: 45px 5px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile-photo-frame-2 {
  border-radius: 5px;
  background: linear-gradient(45deg, #1b998b 20%, #c5d86d 50%, #1b998b 60%);
  width: 90vw;
  height: 3px;
  background-size: 300%;
  background-position-x: 200%;
  padding: 5px;
  margin: 5px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#profile-art-frame {
  border-radius: 5px;
  background: none;
  padding: 5px;
  margin: 45px 5px 20px 5px;
  box-shadow: none;
  border: none;
}

@media (max-width: 480px) {
  #profile-art-frame,
  .profile-art {
    display: none;
  }
}

.profile-art {
  height: 255px;
  width: 255px;
  padding-top: 0px;
  background-size: cover;
  border-radius: 5px;
  margin: 0px;
}
.profile-photo {
  background-image: url("https://i.ibb.co/rQXdvC7/DSC-0196.jpg"); /*intial background image */
  height: 255px;
  width: 255px;
  padding-top: 0px;
  background-size: cover;
  border-radius: 5px;
  margin: 0px;
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
}

.profile-photo:hover {
  background-image: url("https://i.postimg.cc/SsF1Cg4W/8bit-me-favicon-full-size.png");
}

@keyframes shimmer {
  to {
    background-position: 40%;
  }
}

/*This is the content inside of welcome content div*/
.kd-content-1 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(to left, #c5d86d, #1b998b);
  width: 700px;
  height: 250px;
  padding: 10px 15px;
  margin: 45px 5px 0px 10px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  animation: grow 2.5s 4s 1;
}

#intro {
  margin-top: 10px;
  padding: 0;
  font-size: 1em;
}

.welcome-section {
  /*text for kd content- 1*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0;
  height: auto;
}

.kd-content-2 {
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  background: linear-gradient(to left, #c5d86d, #1b998b);
  width: 75vw;
  height: 250px;
  padding: 5px;
  margin: 5px 5px 0px 0px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.social-icons {
  border-radius: 150px;
  border: 3px solid #c5d86d;
  margin-left: 10px;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 480px) {
  .kd-container {
    display: flex;
    flex-direction: column;
    animation: none;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .profile-photo-frame-2 {
    display: none;
  }
}

@media (max-width: 480px) {
  #role {
    color: black;
  }
}

@keyframes grow {
  30% {
    transform: scale(1.2);
  }
}

@media (max-width: 350px) {
  @keyframes grow {
    20% {
      transform: scale(20%);
    }
  }
}

@media (max-width: 480px) {
  .kd-content-1,
  .kd-content-2 {
    margin: 10px;
    width: 65vw;
    padding: 20px 25px;
    height: auto;
    background: #fff9ec;
    animation: none;
  }
}

#skills-title {
  text-align: left;
}

.skills-container {
  display: flexbox;
  flex-direction: row;
  justify-content: space-evenly;
  background: #fff9ec;
  text-align: center;
  padding: 50px;
  margin: 10px auto;
  width: 80vw;
  height: auto;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* List of skills styling*/
#skills {
  display: inline-block;
  background: linear-gradient(to left, #c5d86d, #1b998b);
  width: 185px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 480px) {
  .profile-text,
  .skills-container {
    padding: 20px 20px;
    margin: 10px auto;
    width: 82%;
  }
}

/*This is the start of the content sections.*/

/*This is the start of the about me section.*/
.grid-background-3 {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #fff9ec;
  padding: 50px;
  margin: 10px auto;
  width: 80vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .grid-background-3 {
    width: 68vw;
  }
}

.grid-background-2 {
  /*This is the start of the social proof section.*/
  background-color: linear-gradient(to left, #c5d86d, #1b998b);
  padding: 50px 0;
  margin: 20px auto;
  width: 85vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

.grid-container-2 {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-tile {
  margin: auto;
}

.quote-card {
  background: transparent;
  max-width: 75vw;
  width: 80vw;
  height: auto;
  border: 0px solid #f1f1f1;
  perspective: 1000px;
  margin: 20px;
}

#about-me-quote-card {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80vw;
  height: 85%;
  margin-left: -35px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#about-me-text {
  text-align: left;
}

.quote-card-front {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: black;
  border-radius: 5px;
  margin: 5px;
  padding: 3px 30px 3px 3px;
  width: 93%;
  height: 85%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/*Add media query for mobile. */
@media (max-width: 480px) {
  .quote-card-front,
  #about-me-quote-card {
    width: 90%;
    height: auto;
    padding: 3px 20px 3px 3px;
  }
}

.quote-card-inner {
  position: sticky;
  top: 0;
  background: #fff9ec;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  text-align: center;
}

/*Add media query for mobile. */
@media (max-width: 480px) {
  .quote-card-inner {
    width: 95%;
    height: auto;
    color: black;
    text-align: left;
  }
}
/* this is the beginning of the projects section for data analysis, html/css, and javascript */
.grid-background-1 {
  background-color: #fff9ec;
  padding: 50px 0;
  margin: 20px auto;
  width: 85vw;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

.grid-container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project-img {
  margin: auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

iframe {
  margin: auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.flip-card {
  background: transparent;
  width: 300px;
  height: 300px;
  border: none;
  margin: 30px;
  perspective: 1000px;
}

/*Add media query for mobile. This centers the whole flip card within grid-container-1*/
@media (max-width: 480px) {
  .flip-card {
    margin-right: 20px;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: 300px;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: #fff9ec;
  transform: rotateY(180deg);
  border-radius: 10px;
  height: 300px;
  width: 300px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.flip-card-back h1 {
  padding-top: 55px;
  font-family: "Amatic SC", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

.project-link {
  text-decoration: none;
  background-color: #fff9ec;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-link:hover {
  background: #f08080;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #fff9ec;
}

/*Add media query for mobile. */
@media (max-width: 480px) {
  .project-link:hover {
    width: 250px;
    height: 250px;
    padding: 10px;
  }
}

#footer-grid {
  /*This is to adjust size of this section.*/
  background: linear-gradient(to left, #c5d86d, #1b998b);
  padding: 20px 0px 50px 0px;
  margin: 20px auto;
  width: 85vw;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

.footer-text {
  text-align: left;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
  height: 30vh;
  padding: 10px 20px 10px 20px;
}

.footer-text-1 {
  width: auto;
  color: white;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#pull-request-link:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #f08080;
  text-underline-offset: 5px;
  font-weight: 600;
}
