body {
  background-color: #fff9ec;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Links and text styling */
a {
  text-decoration: none;
  color: black;
}

p,
h3 {
  padding: 5px 10px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  width: auto;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h5 {
  margin: 10px 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
}

h6 {
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
  padding: 0px 5px;
  font-size: 14px;
}

li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

/* Navbar specific element styling */
.navbar {
  overflow: hidden;
  background-color: black;
  height: 55px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  display: in-line;
  top: 0;
  left: 0;
  z-index: 10;
}

.social-icon-container {
  display: block;
  margin-top: -20px;
}

.navbar a {
  float: left;
  display: inline;
  color: #c5d86d;
  text-align: bottom;
  text-decoration: none;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px 10px;
}

.navbar a:hover {
  height: 20px;
  margin-top: 5px;
  width: auto;
  color: #fff9ec;
  border-radius: 5px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #1b998b;
  text-underline-offset: 5px;
}

#connect {
  color: #1b998b;
  border: 1px solid #c5d86d;
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
}

#connect:hover {
  text-decoration: none;
}

/* Callout styling */
.callout {
  position: relative;
  background-color: #fff9ec;
  border-radius: 5px;
  border: 5px solid #1b998b;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 auto 20px auto;
  width: 300px;
  color: #333;
}

.callout::after {
  content: "";
  position: absolute;
  bottom: -105px;
  /* Position the tail below the callout */
  left: 60px;
  border-width: 55px 15px 50px 10px;
  border-style: solid;
  border-color: #1b998b transparent transparent transparent;
}

.callout-text {
  margin: 100px auto 0px auto;
  font-family: "Amatic SC", serif;
  font-weight: 800;
  font-size: 40px;
  color: black;
}

/* This is the large white container that holds the content in all sections below the PROFILE section. */
.section-container {
  background-color: #fff9ec;
  padding-bottom: 30px;
  margin: 15px 10px;
  width: 90vw;
  max-width: 1000px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

.section-title {
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

#profile-section {
  /*styles the PROFILE section container*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  background: none;
  margin-bottom: 0px;
  box-shadow: none;
}

.profile-photo-frame-1 {
  border-radius: 5px;
  background: linear-gradient(45deg, #c5d86d 20%, #1b998b 50%, #c5d86d 60%);
  background-size: 300%;
  background-position-x: 200%;
  height: 255px;
  width: 255px;
  animation: shimmer 4s infinite linear;
  padding: 5px;
  margin: 45px 5px 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#profile-art-frame {
  border-radius: 5px;
  background: none;
  padding: 5px;
  margin: 45px 5px 20px 5px;
  box-shadow: none;
  border: none;
}

.profile-art {
  height: 240px;
  width: 240px;
  padding-top: 0px;
  background-size: cover;
  border-radius: 5px;
  margin: 0px;
}
.profile-photo {
  background-image: url("https://i.ibb.co/rQXdvC7/DSC-0196.jpg"); /*intial background image */
  height: 255px;
  width: 255px;
  padding-top: 0px;
  background-size: cover;
  border-radius: 5px;
  margin: 0px;
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
}
.profile-photo:hover {
  background-image: url("https://i.postimg.cc/SsF1Cg4W/8bit-me-favicon-full-size.png");
}

@keyframes shimmer {
  to {
    background-position: 40%;
  }
}

/*contains the social icons*/

.social-icon-container {
  display: block;
  margin-top: -20px;
  margin-left: 10px;
  width: 255px;
}

.social-icons {
  border-radius: 150px;
  border: 3px solid #c5d86d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 40px;
  width: 40px;
}

/*This is the container that holds the text and social icons inside of profile-section  div*/
.profile-content-box {
  border-radius: 5px;
  background: linear-gradient(to left, #c5d86d, #1b998b);
  width: 90vw;
  max-width: 1000px;
  height: 255px;
  padding: 10px 20px;
  margin: 25px 5px 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  animation: grow 2.5s 4s 1;
  z-index: -1;
}

#name {
  font-size: 40px;
  margin: 10px;
  padding: 0px;
}

#role {
  /*Styles the role under my name "Program Manager"*/
  margin: -20px 0px 0px 10px;
  padding: 0px;
  font-family: "Amatic SC", serif;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
  color: #fff9ec;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#profile-intro-text {
  font-size: auto;
  margin: 0px 0px 10px 0px;
  padding: 0 10px;
}

@keyframes grow {
  30% {
    transform: scale(1.2);
  }
}

/* This is the container that holds the flip cards or quote cards in each section!! */
.flip-card-container {
  display: flex;
  flex-diection: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Skills section styling */
#skills-section {
  flex-direction: row;
  padding-bottom: 30px;
}
/* List of skills styling*/
#skills {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  width: 185px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* This is for the ABOUT ME content blocks */
.quote-card {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 85vw;
  max-width: 1000px;
  margin: 10px 20px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.quote-card-inner {
  /*the white box on the social proof section*/
  position: sticky;
  top: 0;
  background: #fff9ec;
  width: 99%;
  height: auto;
  padding: 5px 5px;
  margin: 3px;
  border-radius: 5px;
  text-align: center;
}

.quote-text {
  font-size: 14px;
}

.project-img {
  margin: auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

/*This is for the media in the "My Picks" section */
iframe {
  margin: auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.flip-card {
  background: transparent;
  width: 300px;
  height: 300px;
  border: none;
  margin: 30px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: 300px;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(to left, #c5d86d, #1b998b);
  color: #fff9ec;
  transform: rotateY(180deg);
  border-radius: 10px;
  height: 300px;
  width: 300px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.flip-card-back h1 {
  padding-top: 55px;
  font-family: "Amatic SC", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
}

.project-link {
  text-decoration: none;
  background-color: #fff9ec;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-link:hover {
  background: #f08080;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #fff9ec;
}

#footer-section {
  /*This is to adjust size of this section.*/
  background: linear-gradient(to left, #c5d86d, #1b998b);
  padding: 20px 0px 50px 0px;
  margin: 20px auto;
  width: 90vw;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
}

.footer-text {
  text-align: left;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: auto;
  height: 30vh;
  padding: 10px 20px 10px 20px;
}

.last-updated-text {
  width: auto;
  color: white;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#pull-request-link:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #f08080;
  text-underline-offset: 5px;
  font-weight: 600;
}

/*Mobile phone sizing */

@media (max-width: 480px) {
  .navbar {
    padding: 0px 0px 60px 0px;
  }
  .navbar a {
    font-size: 16px;
    padding: 5px;
    margin: auto;
  }
  .navbar a:hover {
    font-size: 16px;
    padding: 5px 5px;
    margin: 0;
    height: 15px;
  }
  #connect {
    border: none;
    border-radius: 0; 
    padding: 5px;
    margin: 0px;
  }
  #profile-art-frame,
  .profile-art {
    display: none;
  }
  #flip-card-container {
    flex-direction: column;
  }
  #role {
    color: black;
  }
  .profile-content-box {
    height: auto;
    background: #fff9ec;
    animation: none;
  }
  .quote-card {
    height: auto;
    width: 80vw;
    margin-top: 20px;
  }
  #about-me-quote-card {
    padding: 10px 20px;
    font-size: 14px;
  }
  #profile-intro-text {
    color: #1b998b;
  }
  .quote-card-inner {
    width: 97%;
    height: auto;
    color: black;
    text-align: left;
  }
  .flip-card {
    margin-right: 40px;
  }
  .project-link:hover {
    width: 250px;
    height: 250px;
    padding: 10px;
  }
  #footer-section {
    height: 20vh;
    padding-bottom: 60px;
  }
}
